<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

=======
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@300&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
>>>>>>> ad1aa7e (design)
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
.dark .three-d {
    text-shadow: 0px 5px 0px #4c5211;
}

.three-d {
    text-shadow: none;
}

.dark .simplebar-scrollbar::before {
    background-color: white;
}

.text-animation {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
}

.text-animation span {
    display: inline-block;
    visibility: hidden;
    animation-name: slideIn;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        visibility: visible;
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        visibility: visible;
        opacity: 1;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-green;
    border-radius: 5px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
=======
* {
        font-family: 'BrunoAce';
    }
>>>>>>> ad1aa7e (design)
